<h2>Web Remote Tank</h2>
<button class="btncntrl" data-ops="forwards">FORWARD</button>
<button class="btncntrl" data-ops="backwards">BACK</button>
<button class="btncntrl" data-ops="turnleft">TURN LEFT</button>
<button class="btncntrl" data-ops="turnright">TURN RIGHT</button>
<button class="btncntrl" data-ops="spinleft">SPIN LEFT</button>
<button class="btncntrl" data-ops="spinright">SPIN RIGHT</button>
<button class="btncntrl" data-ops="stop">FULL STOP</button>

<p>develop by: <i>reggie.senal@gmail.com</i></p>
<!-- <p>GIT: <i><a href="https://github.com/redgsenal/webirremote.git">https://github.com/redgsenal/webirremote.git</a></i> -->
